<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.s3xygod.assignmentmob204_ph12682">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AssignmentMOB204PH12682">
        <activity android:name=".ListMemActivity"></activity>
        <activity android:name=".MembersActivity" />
        <activity android:name=".BooksLeftActivity" />
        <activity android:name=".MoneyActivity" />
        <activity android:name=".BillManagerActivity" />
        <activity android:name=".Top10Activity" />
        <activity android:name=".ListBooksActivity" />
        <activity android:name=".ForgotActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>